<p>Click the link to confirm your email address:
   <%= link_to nil, edit_subscriber_url(@subscriber, host: "hn-alerts.com") %>
</p>

<p>Don't share this link. It's the same one you'll use to update or delete your
  subscription.</p>
