<p>Here is the link to update your preferences:
   <%= link_to nil, edit_subscriber_url(@subscriber, host: "hn-alerts.com") %>
</p>

<p>Since its used to manage your subscription, don't share it.</p>
